# MongoDB Connection
MONGO_URI=mongodb+srv://premvatika:PremVatika%401234@cluster0.hepaixd.mongodb.net/?appName=Cluster0

# Razorpay Configuration
RAZORPAY_KEY_ID=rzp_test_SBiJ5rGsxiAPLT
RAZORPAY_KEY_SECRET=Pe7uLUJulrYbTa2LyVkQ6Y5h

# Email Configuration (for Gmail)
EMAIL_USER=amar7855815275@gmail.com
EMAIL_PASSWORD=Amar@5620623  # Use App Password for Gmail

# Admin Email for notifications
ADMIN_EMAIL=kumaramar35@gmail.com

# Server Port
PORT=5000